<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fame_care">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fame_Care">
        <activity
            android:name=".SendMessage"
            android:exported="true" />
        <activity
            android:name=".EmployeeSalaryDisplay"
            android:exported="true" />
        <activity
            android:name=".EditEmployeeDetails"
            android:exported="true" />
        <activity
            android:name=".WorkScheduleDetails"
            android:exported="true" />
        <activity
            android:name=".CropHarvestCompare"
            android:exported="true" />
        <activity
            android:name=".AddCropHarvest"
            android:exported="true" />
        <activity
            android:name=".EditCropHarvest"
            android:exported="true" />
        <activity
            android:name=".EditAnimalHarvest"
            android:exported="true" />
        <activity
            android:name=".AddAnimalHarvest"
            android:exported="true" />
        <activity
            android:name=".AddEmployeeSalary"
            android:exported="true" />
        <activity
            android:name=".AddWorkSchedule"
            android:exported="true" />
        <activity
            android:name=".EmployeeDetails"
            android:exported="true" />
        <activity
            android:name=".AddEmployeeDetails"
            android:exported="true" />
        <activity
            android:name=".AnimalHarvest"
            android:exported="true" />
        <activity
            android:name=".CropHarvest"
            android:exported="true" />
        <activity
            android:name=".Harvest_Home"
            android:exported="true" />
        <activity
            android:name=".FarmCareHome"
            android:exported="true" />
        <activity
            android:name=".UserLogin"
            android:exported="true" />
        <activity
            android:name=".EmployeeManagement"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>